@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-y: hidden;
    --primary-1-color: #0EADE5;
    --primary: red;
    --logo-text-color:#140242;
}
.dropdownfilter {
  padding: 3px 17px !important;
  padding-right: 30px !important;
}
.react-datepicker-popper {
  z-index: 20 !important;
}
.react-datepicker-wrapper{
  width: 100% !important;
}
input[type="checkbox"]:checked {
  background-color: #140242 !important; 
  border-color: #633A8D !important;    
}
.react-datepicker__header{
  background: #fcf2fe ;
}
.css-1c2llzc-control{
  height: 9px !important;
}
.css-1hwrqa9-control{
  height: 9px !important;
}
.sidebar-item:hover,
.sidebar-item.active {
  color: #140242;
}
.sidebar-item:hover {
  background-color: #fcf2fe;
}
.sidebar-item:hover .sidebar-icon,
.sidebar-item.active .sidebar-icon,
.sidebar-item:hover .sidebar-text,
.sidebar-item.active .sidebar-text ,
.common_icon {
  color: #140242 !important;
}
.common_icon:hover{
  --text-primary-color: #140242 !important;
}

.filter-button{
  margin-top: -40px !important;
}

/* Dropdown  */
.css-1xc3v61-indicatorContainer, .css-15lsz6c-indicatorContainer{
  padding: 0px 6px !important;
}
.css-13cymwt-control,.css-t3ipsp-control{
  height: 20px !important;
}



table th {
  /* position: sticky; */
  top: 0;
  background-color: #fcf2fe !important;
  /* z-index: 1; */
  padding-left: 10px;
  min-width: 100% !important;
}
input[type='text']:focus {
  box-shadow: none;
  outline: none;
  cursor: pointer;
}
.select-form-containers .select-form__menu {
  z-index: 1999;
  width: max-content;
  min-width: 100%;
  max-width: 600px;
}

/* icon css */
.common_icon_image .picture-opacity-1{width: 100%;height: 100%;}
.common_icon_image .picture-opacity-1 img{vertical-align: 4px;height: 100%;width: 100%;object-fit: contain;object-position: center;}
.common_icon {--height: 18px;--width: 18px;--text-primary-color: gray;--icon-url: none;mask-position: center;-webkit-mask-position: center;mask-repeat: no-repeat;-webkit-mask-repeat: no-repeat;mask-size: contain;-webkit-mask-size: contain;background-color: var(--text-primary-color);height: var(--height);width: var(--width);display: inline-block;position: relative;mask-image: var(--icon-url);--webkit-mask-image: var(--icon-url);-webkit-mask-size: contain;mask-size: contain;vertical-align: -4px;}
.ScrollbarsSidebar .thumb-view{transform: translateY(0px);position: relative;display: block;width: 100%;cursor: pointer;border-radius: inherit;background-color: rgba(219, 210, 210, 0.445);z-index: 2;}
.ScrollbarsSidebar .thumb-view{transform: translateY(0px);position: relative;display: block;width: 100%;cursor: pointer;border-radius: inherit;background-color: rgba(219, 210, 210, 0.445);z-index: 2;}
.body-wrapper{width: 100%;height: 100%;}

table th:first-child{
    border-radius:10px 0 0 10px;
  }
  table th:last-child{
    border-radius:0 10px 10px 0;
  }
  table td{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .table-header-left {
    border-radius: 0px !important;
  }
  
  .table-header-right {
    border-radius : 0px !important;
  }
  .css-1p3m7a8-multiValue{
    background-color:  #f2e3f5 !important;
  }
  .css-v7duua:hover{
    color: #ffffff !important;
    background-color: #a080c0 !important;
  }
/*   
  .table-cell {
    padding: 3px 0.5rem;
  } */
 
  
  .popup-table th:first-child{
    border-radius:0 0 0 0;
  }
  .popup-table th:last-child{
    border-radius:0 0 0 0;
  }
  .popup-table td{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .select-form-containers .select-form__menu {z-index: 1999;width: max-content;min-width: 100%;max-width: 600px;}
  .select-form__control {height: 42px;}
  .select-form__control {
    outline: none; 
    box-shadow: none; 
  }
.personImage{
  height: 95px;
  width: 95px;
}
.details-header{
  display: flex;
  gap: 10px;
  line-height: 30px;
}
.details-header p{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #91A1CB;
}
.SalarySection{
  background: linear-gradient(180deg, #E8EFFF 0%, #F9FBFF 100%);
}
.custom-toast {
  border-radius: 4px; 
  padding: 6px 12px; 
  font-size: 12px; 
  text-align: center;
  max-width: 300px; 
  word-wrap: break-word; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


/* 
  .filter-transition-enter {
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .filter-transition-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
  }
  
  .filter-transition-exit {
    opacity: 1;
    transform: translateY(0);
  }
  
  .filter-transition-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms, transform 300ms;
  } */
  
  
.atp-clock-btn {
  display: none !important;
}

.button {
  background-color: black; /* Green */
  border: none;
  color: white;
  margin-top: 13px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mat-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.atp-time {
  background-color: rgb(247, 228, 255) !important;
  text-align: center !important;
  color: black !important;
  font-size: 35px;
}

.atp-color--primary {
  background-color: #a318ff;
}

/* .atp-clock-cnt {
  background-color: rgb(197, 197, 197) !important;
  border-radius: 50%;
} */

.atp-clock {
  background-color: rgb(236, 236, 236) !important;
  border-radius: 50%;
}

.atp-face-color {
  background-color: rgb(205, 178, 228) !important;
}

.atp-n {
  color: rgb(0, 0, 0) !important;
}

.atp-h {
  background-color: #a318ff !important;
}

.atp-am, .atp-pm{
  color: #000 !important;
}
.atp-time .atp-hour, .atp-time .atp-minute{
  color: #000 !important;
}